<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sicapsolucoes.sae" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SAE</name>
    <description>Sistema de avaliação da SICAP Soluções.</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        SICAP Soluções
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
